.jodroll-container {
  display: flex;
  background-color: blueviolet;
}

.track-container, .side-panel {
  width: 100px !important;
  max-width: 100px !important;
  min-width: 100px !important;
  background-color: aqua;
}

.jodroll-track {
  display: inline-block;
  width: 100%;
  padding: 10px;
	background-color: #376cf3;
}

.note-container {
  height: 600px;
  max-height: 600px;
  min-height: 600px;
  flex-grow: 1;
  background-color: red;
}

.jodroll-canvas {
  width: 100%;
  height: 100%;
}

.jodroll-canvas.overlay {
	position: relative;
	left: 0;
	top: -604px;
}