.main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.synth-container {
	flex-grow: 1;
	margin: 20px;
	background-color: #010a1d;
}

.oscillator-container {
	padding: 20px;
	background-color: #04152e;
}

.controls-container {
	display: grid;
	grid-template-columns: 300px 300px 300px;
}
.control {
	margin: 10px;
}

.envelope {
	position: relative;
	display: block;
	width: 800px;
	height: 100px;
	margin: 20px 0;
	background-color: #010a1d;
	border: 1px solid #020307;
}
.envelope-node {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #2977af;
	border-radius: 20px;
	border: 2px solid #fff;
}
.envelope-canvas {
	width: 100%;
	height: 100%;
}
.tooltip {
	position: absolute;
	width: 110px;
	height: 40px;
	background-color: #35a;
	z-index: 3;
}

.detune {
	width: 40px;
}
.phase {
	width: 80px;
}

.hidden {
	visibility: hidden;
}
.invisible {
	display: none;
}