html, body {
	margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
	color: #ddc;
	background-color: #010110;
	font-family: Verdana, Sans-serif;
	font-size: 1em;
}

h1 {
	font-size: 2rem;
}

a {
	text-decoration: none;
}

button, a {
	background-color: #101940;
	color: #ffe0c0;
	border-color: #101835;
	padding: 1em;
	border-radius: 0.3em;
}

button:hover, a:hover {
	background-color: #464984;
	color: #fff0e5;
}