html, body {
	margin: 2%;
    padding: 0;
	width: 98%;
	height: 98%;
	overflow: auto;
	color: #ddc;
	background-color: #010110;
	font-family: Verdana, Sans-serif;
	font-size: 1em;
}

h1 {
	font-size: 2rem;
}

a {
	color: #b0c8ff;
}

.portfolio-element {
	line-height: 1.5rem;
	overflow: auto;
	padding: 0.8em;
	width: 90%;
	color: #eaeae0;
	background-color: #020518;
}