html, body {
	margin: 2%;
    padding: 0;
	width: 98%;
	height: 98%;
	color: #ddc;
	background-color: #010110;
	font-family: Verdana, Sans-serif;
	font-size: 1em;
}

a {
	display: inline-table;
}

h1 {
	animation-duration: 1000ms;
	animation-name: glowin;
	text-shadow: #e0e5ff 0 0 14px;
}

.main-content {
	display: block;
}

.portfolio-element {
	display: block;
	line-height: 1.5rem;
	padding: 0.8em;
	width: 90%;
	color: #eaeae0;
	background-color: #020518;
}

.portfolio-element:hover {
	animation-duration: 250ms;
	animation-name: glowin;

	text-shadow: #e0e5ff 0 0 14px;
	background-color: #020414;
}


@media  screen and (min-width: 1000px) {
	.description, .media {
		width: 45%;
		display: inline-block;
	}
}


@media screen and (max-width: 900px) {
	
	a {
		display: block;
	}
}


@keyframes glowin {
	from {
		text-shadow: none;
	}

	10% {
		text-shadow: #fff 0 0 250px;
	}

	45% {
		text-shadow: #eaefff 0 0 18px;
	}

	to {
		text-shadow: #e0e5ff 0 0 14px;
	}
}